#slider{
	text-align: center;
	display: inline-block;
	/*height:200px;*/
	vertical-align: middle;
	width:1072px;
}

.slide{
	height: 150px;
	width: 150px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: all 1s;
	vertical-align: middle;
}

.slide:hover{
	width: 200px !important;
	height: 200px;
}

.visibleslide{
	margin: 0 5px;
	border: 5px solid transparent;
	outline: 1px rgba(0, 0, 0, 0.48) solid;
}

.arrow {
	margin: 0 10px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	cursor: pointer;
	display: inline-block;
	transition: all 0.5s;
	vertical-align: middle;
}


.arrow-left {
	border-right: 10px solid rgba(128, 128, 128, 0.55);
}
.arrow-left:hover {
	border-right: 10px solid rgba(22, 111, 183, 0.85);
}

.arrow-right { 	
	border-left: 10px solid rgba(128, 128, 128, 0.55); 
}
.arrow-right:hover { 	
	border-left: 10px solid rgba(22, 111, 183, 0.85);
}

#modalView{
	position: fixed;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.54);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 10vh;
	transition: all 1s;
	cursor: pointer;
	display: none;
}

#modalView img{
	max-height: 0;
	max-width: 80vw;
	height: auto;
	transition: all 1s;
}
